/*Default*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    font-family: 'Ubuntu';
}


/*Config*/

body {
    background-color: White;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    letter-spacing: -0.0125em;
}

h2 {
    font-size: 1.7em;
    line-height: 1.5em;
}

hr {
    margin: 30px;
    border-top: 2px solid black;
}

button {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 20px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/*main overlay photo*/

.overlay img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*Navbar*/

.linki a {
    font-weight: 500px;
    color: black;
    text-decoration: none;
    font-size: 1.4em;
}

.linki {
    list-style: none;
    display: flex;
}

.linki li {
    padding: 0px 10px;
}

.linki li a {
    transition: color 0.3s ease-in 0s;
}

.linki li a:hover {
    color: lightgreen;
}

/* Adopt page */
#adoptuj p {
    padding: 0 0 0.3em 0;
}

#adoptuj h2 {
    color: black;
    font-weight: bold;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 20px;
    padding: 0 50px;
}

.card {
    margin-left: 40px;
    line-height: 70%;
    border-radius: 20px;
    background-color: #DCDCDC;
}

.card img {
    width: 35%;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 green;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #DCDCDC;
}

.container {
    padding: 0px 30px;
}

.container::after,
.row::after {
    content: "";
    display: grid;
}

.title {
    color: black;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .img-box h4 {
        font-size: 1.5em;
    }

    .img-box p {
        font-size: 1.3em;
    }
}

.button {
    margin: 15px 0px 15px 0px;
    padding: 8px 25px;
    background-color: inherit;
    border: none;
    border-radius: 50px;
    border: 1px solid #202A25;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.button:hover {
    border: 1px solid lightgreen;
}

/*Map*/

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 100%;
}

.mapouter {
    position: relative;
    text-align: center;
    height: 300px;
    width: 100%;
}


/*Footer*/

input {
    margin-top: 10px;
    padding: 2px 10px;
    font-size: 20px;
    border-radius: 50px;
}

.footer {
    position: absolute;
    width: 100%;
}

.block {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
}